[Unit]
Description=CNC JS server
After=network.target
AssertPathExists=/home/%i/cncin

[Service]
Type=simple
Environment=PATH=/home/%i/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/%i/.local/bin/cncjs --port 8000 --config /home/%i/.cncrc
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
User=%i
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target

